body {
	color: #555;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

p {
	margin-bottom: 1.5em;
}

.alignleft,
.wp-caption.alignleft {
	margin: 0 1em 1em 0;
}

.alignright,
.wp-caption.alignright {
	margin: 0 0 1em 1em;
}

.button:hover, .ib-edu-button:hover, input#submit:hover, .search-submit:hover, .post-password-form input[type="submit"]:hover, .button-primary:hover, .dm3-btn:hover, .css3-loader-inner div, #main-nav > ul > .current-menu-item > a::after, #main-nav > ul > .current-menu-parent > a::after, #main-nav .sub-menu::before, #user-nav ul::before, .dm3-tabs-testimonials .dm3-tabs-nav .active a, .flex-control-paging .flex-active::after, .owl-page.active span, .product .onsale {
  background-color: #149dd2;
}
.button, .ib-edu-button, input#submit, .search-submit, .post-password-form input[type="submit"], .button-primary, .dm3-btn {
    border-color: #149dd2;
    color: #149dd2;
}

a {
  color: #149dd2;
}